<div class="row">
  <div class="span9">
    <h2>YATA</h2>
    <p>Welcome to <abbr title="Yet Another TODO Application">YATA</abbr>! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lorem vel nunc imperdiet volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce in quam ut sem interdum tempor. Nullam bibendum, nisi nec imperdiet interdum, elit felis imperdiet risus, ut porttitor eros velit quis nunc. Maecenas risus purus, vehicula vel malesuada id, gravida vitae ligula. Maecenas porta molestie nisl a dignissim. Fusce nunc metus, aliquam eu mollis eget, mattis in sem. Nunc tincidunt augue et massa aliquam tristique. Pellentesque nec magna eget purus lacinia gravida vitae id lorem. Nulla fringilla vestibulum ligula a facilisis. Nunc mi nunc, vehicula vel vestibulum non, tempor in tortor. Donec ultrices faucibus elit eget malesuada. Nulla sit amet libero velit.</p>
  </div>
  <div class="span5">
    <h3>Sign In</h3>
    <p>Sign in through one of these services:</p>
    <div>
      <a href="/auth/google_oauth2"><%= image_tag "google_64.png", size: "64x64", alt: "Google" %></a>
      <a href="/auth/github"><%= image_tag "github_64.png", size: "64x64", alt: "Github" %></a>
      <a href="/auth/twitter"><%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %></a>
      <a href="/auth/facebook"><%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %></a>
    </div>
  </div>
</div>
