<a href="http://github.com/mewdriller/yata"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10050;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork YATA on GitHub"></a>

<div class="row">
  <div class="span8">
    <h2>Welcome!</h2>
    <p><abbr title="Yet Another TODO Application">YATA</abbr> is TODO application from <a href="http://base2.io">Base Two Interactive</a>. It's currently very primitive and only supports a simple list of TODOs. In the future, we hope to support more advanced features like:</p>
    <ul>
      <li>Categories</li>
      <li>Lists</li>
      <li>Sharing</li>
      <li>Assignment</li>
      <li>&hellip; and many more</li>
    </ul>
    <p>If you're interested in how this application was created, or would like to contribute <a href="http://github.com/mewdriller/yata">fork YATA on Github</a>.</p>
  </div>
  <div class="span4">
    <h3>Sign In</h3>
    <p>Sign in through one of these fine services:</p>
    <div>
      <a href="/auth/google_oauth2"><%= image_tag "google_64.png", size: "64x64", alt: "Google" %></a>
      <a href="/auth/facebook"><%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %></a>
    </div>
  </div>
</div>
