<div class="row">
  <div class="span9">
    <h2>Welcome!</h2>
    <p><abbr title="Yet Another TODO Application">YATA</abbr> is TODO application from <a href="http://base2.io">Base Two Interactive</a>. It's currently very primitive and only supports a simple list of TODOs. In the future, we hope to support more advanced features like:</p>
    <ul>
      <li>Categories</li>
      <li>Lists</li>
      <li>Sharing</li>
      <li>Assignment</li>
      <li>&hellip; and many more</li>
    </ul>
    <p>If you're interested in how this application was created, or would like to contribute check <a href="http://github.com/mewdriller/yata">Github</a>.</p>
  </div>
  <div class="span5">
    <h3>Sign In</h3>
    <p>Sign in through one of these services:</p>
    <div>
      <a href="/auth/google_oauth2"><%= image_tag "google_64.png", size: "64x64", alt: "Google" %></a>
      <a href="/auth/github"><%= image_tag "github_64.png", size: "64x64", alt: "Github" %></a>
      <a href="/auth/twitter"><%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %></a>
      <a href="/auth/facebook"><%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %></a>
    </div>
  </div>
</div>
