<a data-id="<%= id %>" class="list editable-list">
    <span class="list-label">
        <span class="list-destroy close pull-right" title="Delete">&#x2717;</span>
        <%= text %> (<%= count %>)
    </span>
    <input type="text" class="list-input" value="<%= text %>" />
</a>