<div id="confirm-delete-account" class="modal fade">
  <%= include_gon %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" title="Cancel">&times;</a>
    <h3>Delete Account</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete your account? This action cannot be be undone.</p>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" title="Cancel">Cancel</a>
    <%= link_to "Delete Account", user_path(current_user.id), method: :delete, class: "btn btn-danger", title: "Delete Account" %>
  </div>
</div>