<div id="todos"></div>

<script type="text/javascript">
    $(function() {
        window.router = new Yata.Routers.TodosRouter({ user_id: <%= current_user.uid %>, todos: <%= @todos.to_json.html_safe -%>});
        Backbone.history.start();
    });
</script>