<%= provide(:stylesheets, stylesheet_link_tag("todos")) %>
<%= provide(:scripts, javascript_include_tag("todos")) %>

<div id="todoapp" class="row">
  <div class="span8">
    <div id='create-todo'>
      <input id='new-todo' placeholder='What needs to be done?' type='text' class="span8" />
    </div>
    <div id='todos'>
      <ul id='todo-list' class="unstyled"></ul>
    </div>
  </div>
  <div class="span4">
    <div id="lists" class="well" style="padding: 8px 0;">
      <ul id="list-list" class="nav nav-list">
        <li class="active"><a id="inbox-list" class="list"><i class="icon-inbox icon-white"></i> Inbox</a></li>
      </ul>
    </div>
  </div>
</div>