<div id="todoapp">
  <div id='create-todo'>
    <input id='new-todo' placeholder='What needs to be done?' type='text' />
  </div>
  <div id='todos'>
    <ul id='todo-list' class="unstyled"></ul>
  </div>
  <div id='todo-stats'></div>
</div>