// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#todo-list li {
  margin: 10px 0;
}

.todo-input {
  width: 413px;
}

.todo-clear {
  margin: 10px 0 0 0;
}