// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo {
  .todo-destroy {
    margin: -8px 0 0 -4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .todo-input {
    width: 524px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}